<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!--
    <link rel="stylesheet" href="./assets/css/styles.css" /> --}}
</head>


<nav class="navbar navbar-dark bg-light">
    <div class="topnav" id="myTopnav">
        {{!-- <button id="logout" class="btn-no-style">logout</button> --}}
        <a href="/api/main/home" id="#home" class=".home">Home</a>
        <a href="/api/main/dashboard">Dashboard</a>
        <a href="/api/main/signup">Signup</a>
        {{!-- <a href="/api/main/login">Login</a>
        <a href="/api/main/logout">Logout</a> --}}
        {{!-- <a href="javascript:void(0);" class="icon" onclick="homeHandler()">
            <i class="fa fa-bars"></i>
        </a> --}}

        {{!-- <a class="navbar-brand" href="index.html">The Tech Blog
        </a> --}}
        <a class="navbar-brand" href="">The Tech Blog
        </a>

        {{#if loggedIn}}
        <a class="navbar-brand" href="/api/main/logout">Logout</a>
        {{!-- <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button> --}}
        {{else}}
        {{!-- <a href="/login">login</a> --}}
        <a class="navbar-brand" href="/api/main/login">Login</a>
        {{/if}}

    </div>
</nav>

<main>
    {{{ body }}}
</main>

<script src="/javascript/main.js"></script>
<script src="/javascript/topNav.js"></script>