<div>
    <p>Dashboard Page
    </p>
    <p>
        This is where you can add, edit and delete your own posts.
        You can edit the comments youv'e made on other posters.
        This will show the appropriate partial for each operation.
    </p>
</div>
{{>yourposts}}
{{>youredit}}
{{>yourcommentsothersposts}}

<script src="/javascript/dashboard.js"></script>