<form class="edit-post-form">
    <div>
        <label for="edit-post-form-title">title:</label>
        <input type="text" id="edit-post-form-title" />
    </div>
    <div>
        <label for="password-login">content:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="update-submit">update</button>
        <button type="delete-submit">delete</button>
    </div>
</form>

<script src="/javascript/editpost.js"></script>