<form class="post-form">
    <div>
        <label for="post-form-title">Title:</label>
        <input type="text" id="post-form-title" name="post-form-title" />
    </div>
    <div>
        <label for="post-form-content">Content:</label>
        <textarea id="post-form-content" name="post-form-content">
            </textarea>
    </div>
    <div>
        <button type="new-post-button">New</button>
        <button type="update-post-button">Update</button>
        <button type="delete-post-button">Delete</button>
    </div>
</form>

<script src="/javascript/posts.js"></script>